In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import mutual_info_classif, RFE
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression

In [25]:
df = pd.read_csv('/content/application_data.csv')

In [26]:
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [27]:
df = df.drop(columns=['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3'])

In [28]:
df.shape

(307511, 119)

In [29]:
nomimal_cols = ['NAME_CONTRACT_TYPE']

In [30]:
for col in df.columns:
  print(col)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [31]:
df['WEEKDAY_APPR_PROCESS_START'].value_counts(ascending=True)

WEEKDAY_APPR_PROCESS_START
SUNDAY       16181
SATURDAY     33852
FRIDAY       50338
THURSDAY     50591
MONDAY       50714
WEDNESDAY    51934
TUESDAY      53901
Name: count, dtype: int64

In [32]:
nomimal_cols = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'EMERGENCYSTATE_MODE', 'ORGANIZATION_TYPE']

In [33]:
df.drop(df.columns[41:87], axis=1, inplace=True)

In [34]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
le = LabelEncoder()

for item in nomimal_cols:
  df[item] = le.fit_transform(df[item])

weekday_mapper = {
    'MONDAY': 5,
    'TUESDAY': 7,
    'WEDNESDAY': 6,
    'THURSDAY': 4,
    'FRIDAY': 3,
    'SATURDAY': 2,
    'SUNDAY': 1
}

df['WEEKDAY_APPR_PROCESS_START'] = df['WEEKDAY_APPR_PROCESS_START'].map(weekday_mapper)

In [36]:
df.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE              int64
CODE_GENDER                     int64
FLAG_OWN_CAR                    int64
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 73, dtype: object

In [37]:
df_new = df.copy() #copied a new dataframe here i will classify the original column 'NAME_TYPE_SUITE' into two groups, single and multiple
# Define mapping function
def classify_suite(value):
    if value in ['Unaccompanied', np.nan]:  # Single
        return 'Single'
    else:  # All others are considered Multiple
        return 'Multiple'

# Apply classification to the column
df_new['NAME_TYPE_SUITE'] = df_new['NAME_TYPE_SUITE'].apply(classify_suite)

df_new['NAME_TYPE_SUITE'] = le.fit_transform(df_new['NAME_TYPE_SUITE'])

In [38]:
df_new.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,1,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,0,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,1,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,0,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,1,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
for col in df_new.columns:
  print(col,":",df_new[col].dtype)

SK_ID_CURR : int64
TARGET : int64
NAME_CONTRACT_TYPE : int64
CODE_GENDER : int64
FLAG_OWN_CAR : int64
FLAG_OWN_REALTY : int64
CNT_CHILDREN : int64
AMT_INCOME_TOTAL : float64
AMT_CREDIT : float64
AMT_ANNUITY : float64
AMT_GOODS_PRICE : float64
NAME_TYPE_SUITE : int64
NAME_INCOME_TYPE : int64
NAME_EDUCATION_TYPE : int64
NAME_FAMILY_STATUS : int64
NAME_HOUSING_TYPE : int64
REGION_POPULATION_RELATIVE : float64
DAYS_BIRTH : int64
DAYS_EMPLOYED : int64
DAYS_REGISTRATION : float64
DAYS_ID_PUBLISH : int64
OWN_CAR_AGE : float64
FLAG_MOBIL : int64
FLAG_EMP_PHONE : int64
FLAG_WORK_PHONE : int64
FLAG_CONT_MOBILE : int64
FLAG_PHONE : int64
FLAG_EMAIL : int64
OCCUPATION_TYPE : int64
CNT_FAM_MEMBERS : float64
REGION_RATING_CLIENT : int64
REGION_RATING_CLIENT_W_CITY : int64
WEEKDAY_APPR_PROCESS_START : int64
HOUR_APPR_PROCESS_START : int64
REG_REGION_NOT_LIVE_REGION : int64
REG_REGION_NOT_WORK_REGION : int64
LIVE_REGION_NOT_WORK_REGION : int64
REG_CITY_NOT_LIVE_CITY : int64
REG_CITY_NOT_WORK_CITY : int64
LIVE_CITY_NOT_WORK_CITY : int64
ORGANIZATION_TYPE : int64
EMERGENCYSTATE_MODE : int64
OBS_30_CNT_SOCIAL_CIRCLE : float64
DEF_30_CNT_SOCIAL_CIRCLE : float64
OBS_60_CNT_SOCIAL_CIRCLE : float64
DEF_60_CNT_SOCIAL_CIRCLE : float64
DAYS_LAST_PHONE_CHANGE : float64
FLAG_DOCUMENT_2 : int64
FLAG_DOCUMENT_3 : int64
FLAG_DOCUMENT_4 : int64
FLAG_DOCUMENT_5 : int64
FLAG_DOCUMENT_6 : int64
FLAG_DOCUMENT_7 : int64
FLAG_DOCUMENT_8 : int64
FLAG_DOCUMENT_9 : int64
FLAG_DOCUMENT_10 : int64
FLAG_DOCUMENT_11 : int64
FLAG_DOCUMENT_12 : int64
FLAG_DOCUMENT_13 : int64
FLAG_DOCUMENT_14 : int64
FLAG_DOCUMENT_15 : int64
FLAG_DOCUMENT_16 : int64
FLAG_DOCUMENT_17 : int64
FLAG_DOCUMENT_18 : int64
FLAG_DOCUMENT_19 : int64
FLAG_DOCUMENT_20 : int64
FLAG_DOCUMENT_21 : int64
AMT_REQ_CREDIT_BUREAU_HOUR : float64
AMT_REQ_CREDIT_BUREAU_DAY : float64
AMT_REQ_CREDIT_BUREAU_WEEK : float64
AMT_REQ_CREDIT_BUREAU_MON : float64
AMT_REQ_CREDIT_BUREAU_QRT : float64
AMT_REQ_CREDIT_BUREAU_YEAR : float64

In [40]:
correlations = df_new.corr()['TARGET'].sort_values(ascending=False)
print(correlations.sort_values(ascending=False))

TARGET                         1.000000
DAYS_BIRTH                     0.078239
REGION_RATING_CLIENT_W_CITY    0.060893
REGION_RATING_CLIENT           0.058899
DAYS_LAST_PHONE_CHANGE         0.055218
                                 ...
NAME_CONTRACT_TYPE            -0.030896
REGION_POPULATION_RELATIVE    -0.037227
AMT_GOODS_PRICE               -0.039645
DAYS_EMPLOYED                 -0.044932
NAME_TYPE_SUITE                     NaN
Name: TARGET, Length: 73, dtype: float64

In [41]:
df_new = df_new.drop('SK_ID_CURR', axis = 1)

In [42]:
X = df_new.drop('TARGET', axis = 1)
y = df_new['TARGET']

In [44]:
"""model = RandomForestClassifier()
model.fit(X, y)

importances = model.feature_importances_
important_features = pd.Series(importances, index=X.columns).sort_values(ascending=False)
print(important_features.head(20))
"""

'model = RandomForestClassifier()\nmodel.fit(X, y)\n\nimportances = model.feature_importances_\nimportant_features = pd.Series(importances, index=X.columns).sort_values(ascending=False)\nprint(important_features.head(20))\n'

In [45]:
"""imputer = SimpleImputer(strategy='median')  # or 'mean'
X_imputed = imputer.fit_transform(X)

# You can now pass X_imputed to mutual_info_classif
mi = mutual_info_classif(X_imputed, y)
mi_scores = pd.Series(mi, index=X.columns).sort_values(ascending=False)
print(mi_scores.head(20))
"""

"imputer = SimpleImputer(strategy='median')  # or 'mean'\nX_imputed = imputer.fit_transform(X)\n\n# You can now pass X_imputed to mutual_info_classif\nmi = mutual_info_classif(X_imputed, y)\nmi_scores = pd.Series(mi, index=X.columns).sort_values(ascending=False)\nprint(mi_scores.head(20))\n"

In [49]:
df_new.to_csv('14-07-25_preprocessing.csv', index=False)